<div class="text-center">
  <h2><%= current_user.username %></h2>
  <p>API token:<br><%= current_user.api_token %></p>
  <p><%= link_to icon_text('Change password', 'fa-lock'), edit_user_registration_path, class: 'btn btn-lg' %><br>
    <%= link_to icon_text('Sign out', 'fa-sign-out'), destroy_user_session_path, method: :delete, class: 'btn btn-lg' %></p>
</div>
