html body { padding: 50px 0px; margin-bottom: 200px }
html body.dark_background { background-color: #000; color: #fff; }

pre { max-height: 300px; }

body.dark_background pre { background-color: #fff; color: #a04; }

{ , serif; font-size: 16px; overflow-y: scroll; }
ul { list-style-type: square; }
.home_page { margin-top: 50px; }
.home_page h2 { color: #5bc0de; text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }
.devise_form { max-width: 300px; display: inline-block; }
table th { padding-right: 10px; border-bottom: 1px solid #ccc; }
table td { padding-right: 10px; }
.tab-pane-content { padding: 10px; }
#server_events { white-space: nowrap; overflow-x: scroll; padding: 10px; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 4px; }
.alert { text-align: left; }
.leaderboard { font-size: 18px; margin: 100px; text-align: center; }
.leaderboard table { display: inline-block; text-align: left; }
.navbar .navbar-brand > img { height: 24px; margin-top: -2px; display: inline-block; }

.btn.btn-link, .btn.btn-link:hover, .btn.btn-link:focus {
  color: #438ac7;
  border: none;
}
body.dark_background .btn.btn-link {
  background-color: #000;
}




.app_input {
  font-family: monospace;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 600px;
  border: none;
  overflow-y: scroll;
}

.flash_message {
  text-align: center;
  padding: 15px;
  background-color: #222;
}

.alert_close {
  cursor: pointer;
  padding: 10px;
  margin-top: -8px;
}

.page_preface {
  margin-left: 16px;
}

button.dropdown-item {
  color: #000;
  background: none;
  border: none;
  padding: 0px 20px;
}
